/*
 * mini-tutorial.js (https://www.wpvs.de/mini-tutorial/)
 * © 2020  Dennis Schulmeister-Zimolong <dennis@pingu-mail.de>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 */

/** General page layout **/
@import "common.css";

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 1em;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between
}

header {
    display: flex;
    justify-content: space-between;
}

@media screen {
    main {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
}

section.limit-width,
section.limited-width {
    width: 50em;
    max-width: 100%;
}

/** Navigation and footer **/
nav {
    font-weight: bold;

    display: flex;
    justify-content: space-between;
}

footer {
    font-size: 80%;
}

@media print {
    header {
        display: block;
    }
}
