/*
 * mini-tutorial.js (https://www.wpvs.de/mini-tutorial/)
 * © 2018  Dennis Schulmeister-Zimolong <dennis@pingu-mail.de>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 */

/** General page layout **/
@import "common.css";

html {
    max-width: 50em;
    margin: 0 auto;
}

@media screen {
    body {
        display: flex;
        flex-direction: column;
        gap: 2em;
        min-height: 100vh;
    }    
}

main {
    flex: 1;
}

/** Navigation and footer **/
nav {
    padding-top: 1em;
    border: 0px solid rgb(226, 226, 226);
    border-top-width: 1px;

    display: flex;
    justify-content: space-between;
}

footer {
    font-size: 80%;
}
